In [1]:
import pandas as pd

In [4]:
data_heart_disease = pd.read_csv("https://archive.ics.uci.edu/static/public/45/data.csv")
data_heart_disease = data_heart_disease[["age", "fbs", "chol", "restecg", "thalach", "slope", "oldpeak", "num"]]
# data_heart_disease.rename(columns = 
#                           "fbs" : "",
#                           "chol" : "cholesterol"
                          
data_heart_disease

     age  fbs  chol  restecg  thalach  slope  oldpeak  num
0     63    1   233        2      150      3      2.3    0
1     67    0   286        2      108      2      1.5    2
2     67    0   229        2      129      2      2.6    1
3     37    0   250        0      187      3      3.5    0
4     41    0   204        2      172      1      1.4    0
..   ...  ...   ...      ...      ...    ...      ...  ...
298   45    0   264        0      132      2      1.2    1
299   68    1   193        0      141      2      3.4    2
300   57    0   131        0      115      2      1.2    3
301   57    0   236        2      174      2      0.0    1
302   38    0   175        0      173      1      0.0    0

[303 rows x 8 columns]