In [69]:
# !pip3 install -U ucimlrepo 

import pandas as pd
from ucimlrepo import fetch_ucirepo
from sklearn.model_selection import train_test_split

In [114]:
# import dataset
heart_disease_dataset = fetch_ucirepo(name = 'Heart Disease')

# filter dataframe
heart_disease = heart_disease_dataset.data.original[["age", "chol", "fbs", "restecg", "thalach", "oldpeak", "slope", "num"]] # change this, idk what columns we want
heart_disease.columns = ["Age", "Cholesterol", "Fasting_blood_sugar", "Resting_ECG", 
                              "Max_heart_rate", "ST_depression", "Slope",
                              "Diagnosis"]

heart_disease

,Age,Cholesterol,Fasting_blood_sugar,Resting_ECG,Max_heart_rate,ST_depression,Slope,Diagnosis
0,63,233,1,2,150,2.3,3,0
1,67,286,0,2,108,1.5,2,2
2,67,229,0,2,129,2.6,2,1
3,37,250,0,0,187,3.5,3,0
4,41,204,0,2,172,1.4,1,0
...,...,...,...,...,...,...,...,...
298,45,264,0,0,132,1.2,2,1
299,68,193,1,0,141,3.4,2,2
300,57,131,0,0,115,1.2,2,3
301,57,236,0,2,174,0.0,2,1
302,38,175,0,0,173,0.0,1,0

In [169]:
# split data
heart_disease_train, heart_disease_test = train_test_split(heart_disease, train_size = 0.75)

# table including: 
# number of observations in each class, 
# mean, mode, std deviation of the predictor variables,
# and how many rows have missing data

# ---> ca and thal have missing values, though we aren't using ca or thal so i will not include in table (missing_data = heart_disease_dataset.variables.missing_values)

num_observations = len(heart_disease_train.index)

predictor_modes = heart_disease_train.iloc[:, :7].apply("mode").iloc[[0]].rename(index = {0 : "mode"})
predictor_table = heart_disease_train.iloc[:, :7].agg(["mean", "median", "std"])

table = pd.concat([predictor_modes, predictor_table])

print(num_observations)
table

227

,Age,Cholesterol,Fasting_blood_sugar,Resting_ECG,Max_heart_rate,ST_depression,Slope
mode,57.000000,234.000000,0.000000,0.000000,125.000000,0.000000,1.000000
mean,54.352423,244.568282,0.132159,0.907489,150.066079,1.037445,1.594714
median,55.000000,241.000000,0.000000,0.000000,154.000000,0.800000,2.000000
std,9.102126,48.436789,0.339412,0.989004,22.938935,1.189913,0.619426